<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-menu></app-menu>
      <!--<div class="container-fluid">-->
        <!--<nav class="navbar navbar-default">-->
          <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav navbar-left">-->
              <!--<li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                <!--<a routerLink="/">Home</a>-->
              <!--</li>-->
              <!--<li role="presentation" routerLinkActive="active">-->
                <!--<a routerLink="/organizations">Organizations</a>-->
              <!--</li>-->
              <!--<li role="presentation" routerLinkActive="active">-->
                <!--<a routerLink="/players">Players</a>-->
                <!--&lt;!&ndash;<a href="/players">Players</a>&ndash;&gt;-->
              <!--</li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
              <!--<li role="presentation"><a href="#">Login</a></li>-->
              <!--<li role="presentation"><a href="#">Sign Up</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</nav>-->
      <!--</div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
