<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <h2 id="org-page-head">Players</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-7 col-md-8 col-lg-9">
      <ul *ngIf="allPlayers">
        <li *ngFor="let player of allPlayers">
          {{player.firstName}} {{player.id}}
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <h3 class="">New Players</h3>
      <div class="list-group" *ngIf="allPlayers">
        <a *ngFor="let player of allPlayers"
           routerLink="./{{player.id}}"
           class="list-group-item">
          <h4 class="list-group-item-heading">{{player.firstName}}</h4>
          <!--{{ getCityState(player.zipcode)}}-->
        </a>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
      <!--<div *ngIf="onePlayer">-->
        <!--{{onePlayer.firstName }} {{onePlayer.id}}-->
      <!--</div>-->
    </div>
  </div>
</div>
