<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <h2 id="org-page-head">Players</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
      <ul *ngIf="allPlayers">
        <li *ngFor="let player of allPlayers">
          {{player.firstName}} {{player.id}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
      <div *ngIf="onePlayer">
        {{onePlayer.firstName }} {{onePlayer.id}}
      </div>
    </div>
  </div>
</div>
