<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h2 class="player-profile-name">
      Player Name
    <!--{{player.name}}-->
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
    <!--<div class="thumbnail">-->
    <img class="img-responsive player-profile-pic" src="../../../../assets/images/default-player-profile-pic.jpg">
    <!--</div>-->
  </div>
  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
    <!--<div class="form-control">-->
      <!--<form>-->
        <input type="hidden" name="id"> <!--[(value)]="player.id"-->
    <div class="input-group">
      <span class="input-group-addon">Age:</span>
      <input type="text" class="form-control" value="42" disabled>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Gender</span>
      <input type="text" class="form-control" value="male" disabled >
    </div>
    <!--<label>Age: </label>-->
      <!--</form>-->
    <!--</div>-->
  </div>
</div>
</div>
